body {
    color: white;
    background: #353535;
    text-align: center;
    font-family: arial;
    overflow: hidden;
}

a:hover {
    opacity: 0.8;
    transition: opacity 0.2s;
}

a {
    opacity: 8;
    transition: opacity 0.2s;
}

::-webkit-scrollbar {
    width: 0px;
}

.desktop {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #6a56dc;
}

.desktop .top h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    pointer-events: none;
}
.desktop .top h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    pointer-events: none;
}
.desktop .top {
    position: absolute;
    height: 50%;
    left: 0px;
    top: 0px;
    width: 100%;
}

.desktop .bottom {
    position: absolute;
    height: 50%;
    left: 0px;
    bottom: 0px;
    width: 100%;
    pointer-events: none;
}
.desktop img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: calc(100% - -300px);
    pointer-events: none;
}

.desktop .top a {
    color: black;
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
}

@media only screen and (max-width: 1050px) {
    .bottom img {
        width: calc(100% - 20px);
        height: initial;
    }
}
@media only screen and (max-width: 500px) {
    .desktop {
        display: none;
    }
}
@media only screen and (min-width: 500px) {
    .mobile {
        display: none;
    }
}





.mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #6a56dc;
}

.mobile .top h2 {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 100;
    font-size: 18px;
}
.mobile .top h1 {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.mobile .top {
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    width: 100%;
}

.mobile .bottom {
    position: absolute;
    height: 50%;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
.mobile img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: initial;
    width: 100%;
    pointer-events: none;
}

.mobile .top a {
    color: black;
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    border-radius: 50px;
}
.downloadMobile a {
    margin-bottom: 20px;
}
.downloadMobile {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    width: calc(100% - 50px);
}















.mobile::before {
    content: "";
    position: absolute;
    top: 50px;
    left: 0px;
    width: calc(100% - -1000px);
    height: calc(100% - 300px);
    background: url(file:///media/korbs/Korbs/Development/Web%20Server/software.falixnodes.xyz/src/images/full.png);
    background-size: contain;
    background-repeat: repeat-x;
    animation: 500s scroll infinite;
}

@keyframes scroll {
    from {
        background-position: 0px;
    }
    to {
        background-position: -10000px;
    }
}

















.desktopD {
    background: #694ADA;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.desktopD .top {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 200px;
}
.desktopD .top h2 {
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    pointer-events: none;
}
.desktopD .top h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    pointer-events: none;
}
.downloadD {
    position: absolute;
    top: 260px;
    width: 100%;
    left: 0px;
}

.downloadC a {
    display: block;
    color: black;
    background: white;
    margin: 20px 0px 0px 0px;
    padding: 10px 0px;
    border-radius: 50px;
    text-decoration: none;
}
.downloadC i {
    font-size: 40px;
}
.downloadC {
    background: linear-gradient(3deg, #252525, #8a6aff);
    padding: 50px 30px;
    width: 200px;
    border-radius: 20px;
    display: inline-block;
    margin: 0px 20px;
    transition: 0.4s box-shadow;
}
.downloadC:hover {
    transition: 0.4s box-shadow;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
}






















.l {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: left;
}
p#command {
    background: #4a4a4a;
    padding: 10px 10px;
    border-radius: 7px;
}







